.container {
  max-width: 1300px;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo a {
  font-size: 30px;
  color: #333;
  font-weight: 700;
}

.menu-item ul li {
  display: inline-block;
}

.menu-item ul li a {
  color: #666;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  display: block;
  padding: 10px 15px;
}

.header-right-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item ul {
  margin-bottom: 0;
}

.contact-button {
  background: #eaf2f9;
  box-shadow: 5px 5px 10px #e1e8ef, -5px -5px 10px #f3fcff;
  color: #333;
  border: 1px solid #e1e8ef;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 8px 20px;
  margin-left: 15px;
  border-radius: 5px;
}
button:focus{
  outline: none;
}
.contact-button a {
  color: #333;
  
}
.heading-top h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
}

.heading-top h1 span {
  float: right;
  font-size: 14px;
  opacity: 0.5;
  margin-top: 7px;
  line-height: 1;
}

.heading-top p {
  color: #666;
  font-size: 16px;
}

.real-time-report h4 {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 36px;
}

.app-content {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.realtiem-report-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-realtime-report {
  border-radius: 10px;
  background: #eaf2f9;
  box-shadow: 6px 6px 7px #e5edf4, -6px -6px 7px #eff7fe;
  margin-right: 30px;
  height: 150px;
  padding: 25px 20px;
  color: #333;
  width: 100%;
  transition: 0.3s ease-in-out;
}

/* .single-realtime-report:hover{
  
} */
.single-realtime-report:last-child {
  margin-right: 0;
}

.single-realtime-report h3 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 30px;
}

.single-realtime-report p {
  font-size: 18px;
  opacity: 0.5;
}

.your-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  width: 100%;
  padding: 8px 20px;
  border-radius: 4px;
  margin-bottom: 30px;
  border: none;
  background: #eaf2f9;
  box-shadow: inset 5px 5px 10px #e1e8ef, inset -5px -5px 10px #f3fcff;
}

label {
  font-size: 18px;
  color: #212529;
  font-weight: 700;
  margin-bottom: 15px;
}

.input-area input {
  width: 100%;
  border: none;
  height: 40px;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 500;
  background: #eaf2f9;
  box-shadow: inset 5px 5px 10px #e1e8ef, inset -5px -5px 10px #f3fcff;
}

.input-area input:focus,
select:focus {
  outline: none;
}

.input-area {
  position: relative;
  z-index: 1;
  margin-left: 10px;
}

button.search {
  position: absolute;
  right: 0;
  top: 0;
  background: #eaf2f9;
  box-shadow: -5px -5px 10px #e1e8ef, 5px 5px 10px #f3fcff;
  width: 40px;
  height: 100%;
  border: none;
}

.location-effected ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.location-effected ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.location-effected {
  border-radius: 10px;
  background: #eaf2f9;
  box-shadow: 6px 6px 7px #e5edf4, -6px -6px 7px #eff7fe;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 5px 5px 10px #e1e8ef, inset -5px -5px 10px #f3fcff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e1e9f1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}
.nb h4 {
  margin-top: 30px;
  font-size: 15px;
  line-height: 25px;
}

/*=================================================================================================
                                    Responsive code start
=================================================================================================*/
/**************************************************************** 
                  Full HD Min Width 1407
**************************************************************** */
/* Full HD Min Width 1408px */
@media (min-width: 1408px) {
}

/**************************************************************** 
                  Widescreen Between 1216px and 1407px
**************************************************************** */
@media (min-width: 1216px) and (max-width: 1407px) {
}

/**************************************************************** 
                  Desktop Between 1024px and 1215px
**************************************************************** */
@media (min-width: 1024px) and (max-width: 1215px) {
}

/**************************************************************** 
                  Tablet Between 769px and 1023px
**************************************************************** */
@media (min-width: 769px) and (max-width: 1023px) {
}

/**************************************************************** 
                    Mobile Up to 768px. 
**************************************************************** */
@media only screen and (min-width: 100px) and (max-width: 768px) {
  .row.mt-5 {
    margin-top: 30px !important;
  }
  .logo a {
    font-size: 22px;
  }
  .menu-item {
    display: none;
  }
  .heading-top h1 {
    font-size: 26px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .heading-top h1 span {
    display: block;
    float: inherit;
  }
  .heading-top p {
    display: none;
  }
  .real-time-report h4 {
    margin-bottom: 15px;
    margin-top: 36px;
    font-weight: 500;
  }
  .single-realtime-report h3 {
    font-size: 30px;
  }

  .realtiem-report-wrapper {
    overflow-x: auto;
    padding: 10px;
  }
  .single-realtime-report {
    margin-bottom: 30px;
    min-width: 200px;
  }
  .location-area {
    margin-bottom: 30px;
  }
  .footer-area {
    display: inherit !important;
  }
  .footer-left {
    margin-bottom: 20px;
    text-align: center;
  }
  .input-area {
    margin-bottom: 15px;
  }
}

/*=================================================================================================*/
