/* .country-list {
  overflow: auto;
  max-height: calc(100vh - 180px);
} */

.table td,
.table th {
  border-top: none;
}

thead tr td {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #222;
}
.danger {
  color: red;
  font-weight: 500;
}
tbody tr td {
  font-size: 13px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: #eaf2f9;
  box-shadow: 6px 6px 7px #e5edf4, -6px -6px 7px #eff7fe;
}

tbody {
  display: block;
  max-height: 50vh;
  overflow: auto;
  padding-left: 10px;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table thead th{
  font-size: 14px;
}
thead {
  width: calc(100% - 30px);
  margin-left: 10px;
}
.fix-width {
  width: 130px;
}
/**************************************************************** 
                    Mobile Up to 768px. 
**************************************************************** */
@media only screen and (min-width: 100px) and (max-width: 768px) {
  .country-list {
    overflow-x: auto;
  }
  thead,
  tbody tr {
    table-layout: auto;
  }
  .table td,
  .table th {
    min-width: 100px;
  }
}
